<div class="container"> 

	<div id="likeliehood">
	<h3>Legend for Likelihood</h3>
		<table class= "table-bordered table-striped">
			<thead>
				<th>Probability Score</th>
				<th>Description</th>
				<th>Generic Description</th>
				<th>Short-term Risk</th>
				<th>Long-term Risk</th>
			</thead>
			<tbody>
				<tr>
					<td class='centered'>9-10</td>
					<td>Very High</td>
					<td>Confidant that risk will occur - likely within the year	</td>
					<td>80-100% Certainty that risk will occur within a year</td>
					<td>Risk will occur within a year</td>
				</tr>
				<tr>
					<td class='centered'>7-8</td>
					<td>High</td>
					<td>Almost certain that risk will occur</td>
					<td>50-79% chance that risk will occur within a year</td>
					<td>Risk will likely occur within 2 years</td>
				</tr>
				<tr>
					<td class='centered'>5-6</td>
					<td>Moderate</td>
					<td>Probable that risk will occur	</td>
					<td>30-49% chance that risk will occur within a year</td>
					<td>Risk will likely occur within 3 years</td>
				</tr>
				<tr>
					<td class='centered'>3-4</td>
					<td>Low</td>
					<td>Remote chance that risk will occur</td>
					<td>10-29% chance that risk will occur within a year</td>
					<td>Risk will likely occur within 10 years	</td>
				</tr>
				<tr>
					<td class='centered'>1-2</td>
					<td>Immaterial</td>
					<td>Rare or Exception circumstance(s) required for risk to occur	</td>
					<td>Less than 10% chance that risk will occur within a year</td>
					<td>Risk will likely occur within 20 years</td>
				</tr>
				<tr>
					<td class='centered'>0</td>
					<td class='centered'>None</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>	
	</div>
	<br>
	<div id="impact">
	<h3>Legend for Impact</h3>
		<table class= "table-bordered table-striped">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th>Phrase to describe Impact on :</th>
				</tr>
				<tr>
					<th>Impact Score</th>
					<th>Description</th>
					<th>Strategy</th>
					<th>Reputation</th>
					<th>Long-term RiskFinances</th>
					<th>Operations (Technology, People)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class='centered'>9-10</td>
					<td>Very High</td>
					<td>Failure to meet strategy/goals 	</td>
					<td></td>
					<td>Loss exceeds </td>
					<td></td>
				</tr>
				<tr>
					<td class='centered'>7-8</td>
					<td>High</td>
					<td>Major impact on ability to carry out strategy/goals	</td>
					<td></td>
					<td>Loss is between </td>
					<td></td>
				</tr>
				<tr>
					<td class='centered'>>5-6</td>
					<td>Moderate</td>
					<td>Moderate impact on ability to carry out strategy/goals  </td>
					<td></td>
					<td>Loss is between </td>
					<td></td>
				</tr>
				<tr>
					<td class='centered'>3-4</td>
					<td>Low</td>
					<td>Minimal impact on ability to carry out strategy/goals   </td>
					<td></td>
					<td>Loss is between </td>
					<td></td>
				</tr>
				<tr>
					<td class='centered'>1-2</td>
					<td>Immaterial</td>
					<td>Negligible impact ability to carry out strategy/goals </td>
					<td></td>
					<td>Loss is less than </td>
					<td></td>
				</tr>
				<tr>
					<td class='centered'>0</td>
					<td>None</td>
					<td>	</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>	
	</div>
	<br>
	<div id="impact">
	<h3>	Legend for Risk Categories</h3>
		<table class= "table-bordered table-striped">
			<thead>
				<tr>
					<th>Category</th>
					<th>Generic Description	</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td> Strategic	</td>
					<td>strategic planning; long term viability; business model; strategic execution; strategic alliance; strategic partnership; capacity management; outsourcing; board; oversight/governance; economic; investment strategy; political; innovation; government/stakeholder relations; competition; audit; value for money		</td>
				</tr>
				<tr>	
					<td> Financial	</td>
					<td>sustained funding; operating cost; financial reporting; business planning and budget; counterparty credit; hedging; capital availability</td>
				</tr>
				<tr>
					<td>Organizational</td>
					<td>leadership depth and quality; management and labour availability and cost; cultural alignment	</td>
				</tr>
				<tr>
					<td>Operational	</td>
					<td>customer dissatisfaction; product failure; service quality; capacity constraints; vendor and distribution dependencies; input quality and pricing	</td>

				</tr>
				<tr>
					<td>  External</td>
					<td>macroeconomic volatility; industry structural change; industry cyclicality</td>

				</tr>
				<tr>
					<td> Compliance</td>
					<td>compliance with applicable laws and regulations	</td>
				</tr>
				<tr>
					<td> Reputational	</td>
					<td>risk arising as a consequence of acts, events and perceptions	</td>
				</tr>

				
			</tbody>
		</table>	
	</div>


	  Acknowledgements: Thank you to Metrolinx for providing the ideas for this Worksheet	

</div>

		
						
	