<h1>Pages#legend</h1>
<p>Legend for Likelihood					
						
	Impact Score	Description	Generic Description	Short-term Risk	Long-term Risk	
	9-10	Very High	Confidant that risk will occur - likely within the year	80-100% Certainty that risk will occur within a year	Risk will occur within a year	
	7-8	High	Almost certain that risk will occur	50-79% chance that risk will occur within a year	Risk will likely occur within 2 years	
	5-6	Moderate	Probable that risk will occur	30-49% chance that risk will occur within a year	Risk will likely occur within 3 years	
	3-4	Low	Remote chance that risk will occur	10-29% chance that risk will occur within a year	Risk will likely occur within 10 years	
	1-2	Immaterial	Rare or Exception circumstance(s) required for risk to occur	Less than 10% chance that risk will occur within a year	Risk will likely occur within 20 years	
	0	None				
						
						
	Legend for Impact					
						
			Phrase to describe Impact on :			
	Impact Score	Description	Strategy	Reputation	Finances	Operations (Technology, People)
	9-10	Very High	Failure to meet strategy/goals  		Loss exceeds 	
	7-8	High	Major impact on ability to carry out strategy/goals		Loss is between 	
	5-6	Moderate	Moderate impact on ability to carry out strategy/goals  		Loss is between 	
	3-4	Low	Minimal impact on ability to carry out strategy/goals   		Loss is between 	
	1-2	Immaterial	Negligible impact ability to carry out strategy/goals 		Loss is less than 	
	0	None				
						
						
	Legend for Risk Categories					
						
	Category		Generic Description			
	  Strategic		strategic planning; long term viability; business model; strategic execution; strategic alliance; strategic partnership; capacity management; outsourcing; board; oversight/governance; economic; investment strategy; political; innovation; government/stakeholder relations; competition; audit; value for money			
	  Financial		sustained funding; operating cost; financial reporting; business planning and budget; counterparty credit; hedging; capital availability			
	  Organizational		leadership depth and quality; management and labour availability and cost; cultural alignment			
	  Operational		customer dissatisfaction; product failure; service quality; capacity constraints; vendor and distribution dependencies; input quality and pricing			
	  External		macroeconomic volatility; industry structural change; industry cyclicality			
	  Hazardous		liability torts; property damage; natural catastrophe; environmental			
	  Compliance		compliance with applicable laws and regulations			
	  Reputational		risk arising as a consequence of acts, events and perceptions			
						
						
	  Acknowledgements: Thank you to Metrolinx for providing templates and ideas for this Worksheet					
						/p>
