// Place all the styles related to the risks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.test { border: 2px solid red; }

.long {width: 100%;}

th {
    padding: 5px;
}

table {
    text-align: center;
}

.justify_left {
    text-align: left;
}

.justify_right {
    text-align: right;
}

.inline {
    display: inline-block;
}

.deletion {
    color: red;
    font-weight: bold;
}

.myChart {
    background: linear-gradient(45deg, #0DFF00 0%, #e1e200 50%, #FF3F0A 87%, #FF3F0A 100%);
    /*margin-left: 25px;*/
}

.Impa {
    transform: rotate(-90deg);
    position: absolute;
    /*top: 160px;*/
    bottom: 50%;
    left: -2px;
   
}

.prob {
    margin: 2px 0 0 0;
    /*text-align: center;*/
     /*display: inline-block;*/
     margin-left: 25px;
}

.lb{
	/*margin-left: 50px;*/
	font-size: 13px;
}

.center {
    text-align: center;
}
.heat-map-panel {
    padding: 25px;
}